apriltag==0.0.16
interbotix_common_modules.egg==info
interbotix_xs_modules.egg==info
matplotlib==3.5.1
numpy==1.23.5
numpy==1.21.5
open3d==0.19.0
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pyrealsense2==2.54.2.5684
scipy==1.8.0
ultralytics==8.3.69
